node_modules
.git
.gitignore
README.md
.env.local
.DS_Store
dist
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo
.next
.nuxt
.cache
.output
.env
.env.*
!.env.example
.vite
coverage
.nyc_output
