BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> seed_01_catalogs

INSERT INTO catalogo_estado_proyecto (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_proyecto (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_proyecto (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;






INSERT INTO catalogo_estado_tipo_tablero (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_tipo_tablero (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_tipo_tablero (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_inspeccion (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_inspeccion (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_inspeccion (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;





INSERT INTO catalogo_estado_informe (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_informe (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_informe (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;




INSERT INTO catalogo_estado_informe_guardado (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_informe_guardado (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;

INSERT INTO catalogo_estado_informe_guardado (nombre, descripcion)
                VALUES (NULL, NULL)
                ON CONFLICT DO NOTHING;




INSERT INTO alembic_version (version_num) VALUES ('seed_01_catalogs') RETURNING alembic_version.version_num;

-- Running upgrade seed_01_catalogs -> seed_02_tipo_tablero

SELECT "id_estadoTipo" FROM catalogo_estado_tipo_tablero WHERE nombre = 'Activo';

